/*form styles*/

#msform {
    text-align: center;
/*
    position: relative;
*/
    margin-top: 30px;
    margin-bottom: 30px;
}

#msform fieldset {
    /*background: white;*/
    border: 0 none;
    border-radius: 0px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #1b557a;
    font-size: 13px;
    border-radius: 0.25em;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #1b557a;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #1b557a;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #1b557a;
}

#msform .action-button-previous {
    width: 100px;
    background: #2294cf;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 28px;
    text-transform: uppercase;
    color: #1b557a;
    margin-bottom: 28px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #1b557a;
    color: white;
}

.fill-required {
    border-color: #FF0000 !important;
    color: #FF0000 !important;
}

.insurance_block {
    height: 200px !important;
    border: 2px solid #1b557a;
    font-size: 18px;
    background-color: #1b557a;
    color: white;
}

.insurance_amount {
    font-size: 50px;
}

.label_text{
    text-align : left;
    color: #1b557a;
    font-weight : bold;
}

.insurance_data_css{
    background-color : #00aff0;
}

.fonts{
    margin: auto;
    padding:50px;
    color : #ffffff;
    font: 10px arial, sans-serif;
}

.flex-item{
     justify-content: center;
}

.insurance_data_row{
    flex-wrap : wrap;
    align: center;
    flex-direction: column;
    margin-right: -15px;
    margin-left: -15px;
    width: 70%;
    margin: auto;
    background-color: #fff;
    padding: 20px 0px;
    border-radius: 5px;
}

.total_background{
    background-color:#00aff0;
}

.total_button {
    font-size: 20px;
    padding: 10px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    background-color: #00aff0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.flex-container {
    justify-content: center;
    display:inline;
}

.label_insurance_app {
    margin:0;
    font-family: "Open Sans", sans-serif;
    color: #1b557a;
}

#msform input[type='radio'] {
    width: auto!important;
}
