body{
    background-image: url("/web/image/898/back-interiors.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
//     padding-bottom: 600px;
//     margin-bottom: -560px;
    background-attachment: fixed;
}